body {
    margin: 0;
    padding: 0;
}

input[type=text] {
    background: #fff;
    font-family: 'Work Sans','Open Sans',sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000;
    padding: 0 18px;
    box-shadow: none;
    border: 0;
    height: 40px;
    line-height: 40px;
    margin: 10px 0;
}

input[type=text]:focus-visible {
    outline: none !important;
}

#assets {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#assets td, #assets th {
    border: 1px solid #DDD;
    padding: 8px;
}

#assets tr:nth-child(even){background-color: #F2F2F2;}

#assets tr:hover {background-color: #DDD;}

#assets th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000;
    color: #FFFFFF;
}